In [1]:
import pandas as pd
from comparator import Comparator

In [2]:
# Files to compare paths
file1 = "data/master.csv"
file2 = "data/sample.csv"
result_folder = "data"
keys = ["ID", "name1"]
tol = 1e-4

In [3]:
pd.read_csv(file1, index_col=0)

     name1    name2  value1  value2  value3
ID
1    first      hej   0.001   0.002       2
1   second    hello   0.003   0.004       2
2    first   goddag   0.005   0.006       2
2   second  bonjour   0.007   0.008       2
3    first      hej   0.009   0.010       2
3   second    hello   0.011   0.012       2

In [4]:
pd.read_csv(file2, index_col=0)

     name1    name2   value1  value2  value5
ID
1    first      hej  0.00100  0.0002       2
1   second     helo  0.00303  0.0040       2
2    first   goddag  0.00600  0.0060       2
2   second  bonjour  0.00700  0.0080       2
4    first      hej  0.00900  0.0100       2
4   second    hello  0.01100  0.0120       2

## Usage

In [5]:
CF = Comparator(file1, file2, result_folder, keys, tol)

Files data/master.csv and data/sample.csv have differences
diff_columns: 2
diff_strings: 2
diff_indices: 4
diff_numbers: 6
See data/ for details

In [6]:
df_numbers, df_strings, df_columns, df_index = CF.diffs

In [7]:
# Differences in numerical values
df_numbers

             name2  value1  value2  value3
ID name1
1  first       hej   0.000 -0.0018      -2
   second    hello   0.000  0.0000      -2
2  first    goddag   0.001  0.0000      -2
   second  bonjour   0.000  0.0000      -2
3  first       hej  -0.009 -0.0100      -2
   second    hello  -0.011 -0.0120      -2

In [8]:
# Differences in numerical values, grouped and summed
df_numbers.groupby("name1").sum(numeric_only=True)

        value1  value2  value3
name1
first   -0.008 -0.0118      -6
second  -0.011 -0.0120      -6

In [9]:
# Differences in string values
df_strings

                  name2
ID name1  source
1  second master  hello
          sample   helo

In [10]:
# Differences in column names
df_columns

         status
column
value3  deleted
value5    added

In [11]:
# Differences in index
df_index

              status
index
(3, first)   deleted
(3, second)  deleted
(4, first)     added
(4, second)    added

In [12]:
pd.read_csv("data/diff_numbers.csv")

   ID   name1    name2  value1  value2  value3
0   1   first      hej   0.000 -0.0018      -2
1   1  second    hello   0.000  0.0000      -2
2   2   first   goddag   0.001  0.0000      -2
3   2  second  bonjour   0.000  0.0000      -2
4   3   first      hej  -0.009 -0.0100      -2
5   3  second    hello  -0.011 -0.0120      -2