In [1]:
import pandas as pd
from comparator import Comparator

In [2]:
# Files to compare paths
file1 = "data/master.csv"
file2 = "data/sample.csv"

In [3]:
pd.read_csv(file1, index_col=0)

      name  value1  value2   value3
ID
1    first   0.001   0.002        2
2   second   0.003   0.004        2
3    first   0.005   0.006        2
4   second   0.007   0.008        2

In [4]:
pd.read_csv(file2, index_col=0)

      name  value1   value2   value5
ID
1    first   0.001  0.00202        2
2   second   0.004  0.00400        2
3     fizt   0.005  0.00600        2
7     fizt   0.005  0.00600        2

## Usage

In [5]:
compare = Comparator(file1, file2)

In [6]:
compare.values(tol=1e-4)

             name  value1
ID source
2  master  second   0.003
   sample  second   0.004

In [7]:
compare.strings()

            name
ID source
3  master  first
   sample   fizt

In [8]:
compare.columns()

          status
column
 value3  deleted
 value5    added

In [9]:
compare.index()

        status
index
4      deleted
7        added

## Save result

In [10]:
result_file = "data/result.csv"

In [11]:
compare.values(1e-4).to_csv(result_file)